[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
zeep = "*"
flask-restful = "*"
keyring = "*"
pendulum = "*"
flasgger = "*"
xmltodict = "*"
jsonpatch = "*"
zappa = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.7"
